body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    
    
}
.header{
    width: 100%;
    margin: 0 auto;
    height: 140px;
    background-color: #49372b;
    
    
}
.navbar{
    float:left;
	width:0 auto;
	height:80px;
	margin-top:30px;
	margin-left:200px;
   
}
.navbar ul li{
    display:inline;
	margin-left:7px;
	margin-right:7px;
	width:0 auto;
}
.navbar a{
    text-decoration:none;
    color:white;
    font-size:20px;
    
}
.navbar a:hover{
    background-color:#819FF7;
    color: black;
	padding:14px 14px;
	border: 1px solid #819FF7;
}
.container{
    width:100%;
    margin: 0 auto;
    height: 900px;
    background-color: #819FF7;
    
}
.col-sm-4{
    width:32%;
    float:left;
    background-color: black;
   
}
.img-responsive{
    width: 60%;
    height: 300px;
    padding: 12px;
}
.footer{
    width:99%;
    margin: 0 auto;
	height:40px;
	background-color:#08088A;
	color:#FFFFFF;
	clear:both;
	position:relative;
	bottom:15px;
}
.form-control{
    width:40%;
    padding: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}
.tag{
    width:20%;
    padding: 5px;
    float: left;
    
}
.box{
    width:78%;
    padding: 5px;
    float: left;    
}
section section{
  width: 100%;
}